@import "tailwindcss";

@theme {
  /* Paleta Nord (Polar Night & Snow Storm) */
  --color-nord-0: #2e3440; /* Fondo principal oscuro */
  --color-nord-1: #3b4252; /* Tarjetas / Elementos secundarios */
  --color-nord-2: #434c5e; /* Hover oscuro */
  --color-nord-3: #4c566a; /* Textos secundarios */
  --color-nord-4: #d8dee9; /* Texto claro base */
  --color-nord-5: #e5e9f0; /* Texto claro secundario */
  --color-nord-6: #eceff4; /* Fondos claros / inputs */

  /* Paleta Nord (Frost) */
  --color-nord-7: #8fbcbb;
  --color-nord-8: #88c0d0; /* Acentos principales (botones cyan) */
  --color-nord-9: #81a1c1;
  --color-nord-10: #5e81ac; /* Acentos oscuros (botones hover) */

  /* Paleta Nord (Aurora - Estados) */
  --color-nord-11: #bf616a; /* Error / Danger */
  --color-nord-12: #d08770; /* Warning */
  --color-nord-13: #ebcb8b; /* Pending */
  --color-nord-14: #a3be8c; /* Success / Paid */
  --color-nord-15: #b48ead; /* Roles / Admin purpura */
}

body {
  @apply bg-nord-0 text-nord-4 font-sans antialiased;
}
